/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd, a, button {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.1;
  font-family: "Rubik", sans-serif;
  background-color: rgb(255, 255, 255);
  position: relative;
}

.body-active {
  overflow: hidden;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
  border: none;
  outline: none;
  color: initial;
  background: transparent;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

.clr-red {
  color: rgb(250, 89, 89);
}

.clr-dark025 {
  color: rgba(36, 42, 69, 0.25);
}

.clr-dark05 {
  color: rgba(36, 42, 69, 0.5);
}

.clr-dark75 {
  color: rgba(36, 42, 69, 0.75);
}

.clr-dark {
  color: rgb(36, 42, 69);
}

.clr-white {
  color: rgb(255, 255, 255);
}

.bg-white {
  background-color: rgb(255, 255, 255);
}

.bg-dark {
  background-color: rgb(36, 42, 69);
}

.bg-blue-brand {
  background-color: rgb(82, 103, 223);
}

.d-block {
  display: block;
}

.p-inline-32 {
  padding-inline: 2rem;
}

.p-inline-48 {
  padding-inline: 3rem;
}

.txt-center {
  text-align: center;
}

.b-radius5 {
  border-radius: 5px;
}

.b-radius15 {
  border-radius: 0.9375rem;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  cursor: pointer;
  color: rgb(255, 255, 255);
  background-color: rgb(82, 103, 223);
  border-radius: 5px;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 200%;
  letter-spacing: 0.25px;
  transition: all 0.3s linear;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.2);
  border: 2px solid transparent;
  padding-block: 0.625rem;
  padding-inline: 1rem;
}

.button[data-type=btn-primary]:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(82, 103, 223);
  border-color: rgb(82, 103, 223);
}

.button[data-type=btn-secondary] {
  background-color: rgb(247, 247, 247);
  color: rgba(36, 42, 69, 0.75);
}

.button[data-type=btn-secondary]:hover {
  background-color: rgb(255, 255, 255);
  border-color: rgb(91, 96, 116);
}

.btn-red {
  background-color: rgb(250, 89, 89);
  color: rgb(255, 255, 255);
}

.btn-red:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(250, 89, 89);
  border-color: rgb(250, 89, 89);
}

.btn-red[data-type=btn-red-header] {
  padding-inline: 2rem;
  font-size: 0.8125rem;
  letter-spacing: 1.5px;
  line-height: 17px;
}

.btn-red[data-type=btn-red-contact] {
  width: 100%;
  pointer-events: none;
}
@media screen and (min-width: 1200px) {
  .btn-red[data-type=btn-red-contact] {
    width: 126px;
    align-self: start;
  }
}

@media screen and (max-width: 700px) {
  #header-btn {
    display: none;
  }
}
.button[data-type=btn-nav] {
  background-color: transparent;
  color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 255, 255);
  box-shadow: none;
  letter-spacing: 2.308px;
  line-height: 85%;
  width: 100%;
  margin-block-start: 1.5rem;
  font-size: 1.25rem;
}
@media screen and (min-width: 700px) {
  .button[data-type=btn-nav] {
    display: none;
  }
}

.tab-btn,
.accordion-info-btn {
  padding-inline: 1.5rem;
}

.tab-list-btn {
  padding-block: 1.25rem;
  align-self: stretch;
  border-block: 1px solid rgba(73, 93, 207, 0.2);
  position: relative;
  transition: all 0.3s linear;
  font-size: 1rem;
  color: rgba(36, 42, 69, 0.75);
  letter-spacing: 0.533px;
  line-height: 17px;
}
.tab-list-btn::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 7.25rem;
  height: 4px;
  background-color: transparent;
  margin-inline: auto;
  transition: background-color 0.2s linear;
}
@media screen and (min-width: 700px) {
  .tab-list-btn {
    cursor: pointer;
  }
  .tab-list-btn:hover {
    color: rgb(250, 89, 89);
  }
}

@media screen and (min-width: 1200px) {
  .tab-list {
    max-width: 45.625rem;
    margin-inline: auto;
    justify-content: space-between;
    padding-inline: 2.5rem 4.375rem;
    border-bottom: 1px solid rgba(73, 93, 207, 0.2);
  }
  .tab-list > button:nth-child(2) {
    margin-inline: 5.625rem 7.5rem;
  }
  .tab-list-btn {
    border-block: none;
    padding-inline: 0;
  }
  .tab-list-btn::after {
    content: "";
    left: -50%;
    right: -50%;
    width: 15.1875rem;
  }
}
.tab-list-btn[aria-selected=true] {
  color: rgb(36, 42, 69);
}

.tab-list-btn[aria-selected=true]::after {
  background-color: rgb(250, 89, 89);
}

p {
  color: rgba(36, 42, 69, 0.5);
  font-weight: 400;
  line-height: 166.667%;
  font-size: 0.9375rem;
}
@media screen and (min-width: 700px) {
  p {
    font-size: 1.125rem;
    line-height: 155.556%;
  }
}

p[data-type=p-FAQ] {
  line-height: 200%;
  letter-spacing: 0.141px;
}
@media screen and (min-width: 700px) {
  p[data-type=p-FAQ] {
    font-size: 1rem;
    line-height: 225%;
  }
}

@media screen and (min-width: 700px) {
  p:not(.accordion-content p) {
    width: 45ch;
    margin-inline: auto;
  }
}
@media screen and (min-width: 900px) {
  p:not(.accordion-content p) {
    width: 65ch;
  }
}
@media screen and (min-width: 1200px) {
  p:not(.accordion-content p) {
    width: 50ch;
  }
}
.contact-section p {
  letter-spacing: 4.615px;
  line-height: 40px;
  font-size: 0.75rem;
}
@media screen and (min-width: 1200px) {
  .contact-section p {
    letter-spacing: 5px;
  }
}

h1, h2, h3, h4 {
  color: rgb(36, 42, 69);
}

h1 {
  line-height: 133.333%;
  font-size: 1.875rem;
  letter-spacing: -0.094px;
}
@media screen and (min-width: 700px) {
  h1 {
    font-size: 3rem;
    line-height: 108.333%;
    letter-spacing: -0.15px;
  }
}

h2 {
  font-size: 1.5rem;
  line-height: 52px;
  letter-spacing: -0.075px;
}
@media screen and (min-width: 700px) {
  h2 {
    font-size: 2rem;
    letter-spacing: -0.1px;
  }
}

.contact-section h2 {
  letter-spacing: -0.075px;
  line-height: 28px;
}
@media screen and (min-width: 1200px) {
  .contact-section h2 {
    line-height: 40px;
  }
}

h3 {
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 32px;
}
@media screen and (min-width: 700px) {
  h3 {
    font-size: 1.125rem;
  }
}

h4 {
  font-size: 1.25rem;
  letter-spacing: 0.25px;
}

.blue-shape {
  height: 203px;
}

.blue-shape[data-type=shape-hero] {
  position: absolute;
  top: 12.3125rem;
  right: 0;
  z-index: -1;
}
@media screen and (min-width: 700px) {
  .blue-shape[data-type=shape-hero] {
    top: calc(12.3125rem + 5vh);
  }
}
@media screen and (min-width: 900px) {
  .blue-shape[data-type=shape-hero] {
    top: calc(12.3125rem + 10vh);
  }
}
@media screen and (min-width: 1200px) {
  .blue-shape[data-type=shape-hero] {
    top: calc(12.3125rem + 15vh);
    height: 352px;
  }
}

.blue-shape[data-type=blue-shape-rot] {
  position: absolute;
  bottom: 15rem;
  left: 0;
  z-index: -1;
  transform: rotate(180deg);
}
@media screen and (min-width: 1200px) {
  .blue-shape[data-type=blue-shape-rot] {
    bottom: 0;
    height: 352px;
  }
}

@media screen and (min-width: 700px) {
  .blue-shape {
    height: 270px;
  }
}
.nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: rgb(255, 255, 255);
  font-weight: 400;
}

.nav[data-type=nav] ul li {
  padding-block: 1.5rem;
  width: 100%;
  border-block: 1px solid rgba(255, 255, 255, 0.15);
}

@media screen and (min-width: 700px) {
  .nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-direction: row;
  }
  .nav[data-type=nav] ul {
    color: rgb(36, 42, 69);
    gap: 2.75rem;
    font-size: 0.9375rem;
  }
}
.nav[data-type=secondary-nav] ul {
  gap: 2rem;
  letter-spacing: 1.731px;
  font-size: 0.9375rem;
}

@media screen and (min-width: 1200px) {
  .nav[data-type=nav] ul,
  .nav[data-type=secondary-nav] ul {
    font-size: 0.8125rem;
  }
  .nav[data-type=nav] ul {
    margin-inline: 31.375rem 2.75rem;
  }
  .nav[data-type=nav] ul li {
    padding-block: 0;
  }
  .nav ul li {
    cursor: pointer;
    transition: color 0.3s linear;
  }
  .nav ul li:hover {
    color: rgb(250, 89, 89);
  }
}
@media screen and (min-width: 700px) {
  .box-social[data-type=box-social-nav],
  button[data-type=btn-nav],
  img[data-type=open-btn],
  img[data-type=close-btn],
  img[data-type=logo-white] {
    display: none;
  }
}
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2.5rem;
}
@media screen and (min-width: 700px) {
  .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 900px) {
  .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 28.1875rem;
  }
  .card-container > .card:nth-child(1) {
    align-self: start;
  }
  .card-container > .card:nth-child(3) {
    align-self: end;
  }
}

.card {
  padding: 3.125rem 1.5rem 1.5rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 17.5rem;
  height: 23.1875rem;
  box-shadow: 0px 10px 20px -5px rgba(73, 93, 207, 0.2);
  border-radius: 0.9375rem;
  background: url("../ASSETS/IMAGES/bg-dots.svg") no-repeat center 75%;
}
.card > div {
  margin-block: 2rem 3.75rem;
}

.accordion-panel {
  border-block-end: 1px solid rgba(36, 42, 69, 0.1477);
}

.accordion-content {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 500ms, margin-block-end 500ms;
}

.accordion-content[aria-hidden=false] {
  grid-template-rows: 1fr;
  margin-block-end: 1.5rem;
}

header {
  padding-block-start: 2.5rem;
  overflow: hidden;
  z-index: 10;
  padding-inline: 2rem;
}
@media screen and (min-width: 1200px) {
  header {
    max-width: 69rem;
    margin-inline: auto;
    padding-inline: 0;
  }
}

.box-social {
  gap: 2.5rem;
}

.nav-mobile {
  position: static;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-direction: row;
}

@media screen and (max-width: 700px) {
  .nav-mobile {
    position: fixed;
    background-color: rgba(36, 42, 69, 0.95);
    inset: 0;
    z-index: 10;
    height: 100vh;
    padding: 2.5rem 2rem 3rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: stretch;
    justify-content: start;
    transition: all 0.4s linear;
    font-size: 1.25rem;
    line-height: 17px;
    letter-spacing: 2.308px;
    transform: translateX(100%);
  }
  .nav-mobile #primary-nav {
    margin-block: 2.5rem auto;
  }
  .open-nav {
    transform: translateX(0);
  }
}
main {
  padding-block-start: 5rem;
}
@media screen and (min-width: 1200px) {
  main {
    padding-block-start: calc(5rem + 5vh);
  }
}
@media screen and (min-width: 1200px) {
  main .hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-direction: row;
    flex-direction: row-reverse;
    margin-inline: 10.3125rem 5.625rem;
    gap: 4.0625rem;
  }
}
main .hero-section .hero-img {
  position: relative;
  margin-inline: auto;
  background: url("../ASSETS/IMAGES/illustration-hero.svg") no-repeat;
  background-size: cover;
  width: calc(313px + 10vw);
  height: calc(209px + 5vh);
}
@media screen and (min-width: 700px) {
  main .hero-section .hero-img {
    width: calc(313px + 25vw);
    height: calc(209px + 15vh);
  }
}
@media screen and (min-width: 900px) {
  main .hero-section .hero-img {
    width: 36.1875rem;
    height: 25rem;
  }
}
@media screen and (min-width: 1200px) {
  main .hero-section .hero-img {
    margin-inline: 0;
    transform: scale(1.1);
  }
}
main .hero-section .hero-text {
  text-align: center;
  margin-block-start: 4rem;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 900px) {
  main .hero-section .hero-text {
    margin-block-start: 6rem;
  }
}
main .hero-section .hero-text p {
  margin-block: 1rem 2rem;
}
main .hero-section .hero-text div {
  gap: 0.625rem;
}
@media screen and (min-width: 700px) {
  main .hero-section .hero-text div {
    gap: 0.9375rem;
  }
}
@media screen and (min-width: 1200px) {
  main .hero-section .hero-text {
    text-align: left;
    align-items: start;
    margin-block-start: 0;
    margin-inline: 0;
    padding-inline: 0;
    max-width: 33.75rem;
  }
  main .hero-section .hero-text h1 {
    max-width: 20ch;
    width: auto;
  }
  main .hero-section .hero-text p {
    max-width: 50ch;
    margin-inline: 0;
  }
  main .hero-section .hero-text div {
    gap: 1rem;
  }
}
main .features-section {
  padding-block-start: 8.75rem;
  position: relative;
}
main .features-section > :nth-child(2) {
  margin-block-end: 2.5rem;
}
main .features-section .tab-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-block-end: 4.5rem;
}
main .features-section .tab > :first-child {
  margin-block-end: 4.375rem;
}
@media screen and (min-width: 700px) {
  main .features-section .tab > :first-child {
    transform: scale(1.1);
    margin-inline-start: 4rem;
  }
}
@media screen and (min-width: 700px) {
  main .features-section .tab {
    margin-block-start: 10rem;
  }
}
main .features-section .tab p {
  margin-block-end: 0.9375rem;
}
@media screen and (min-width: 700px) {
  main .features-section .tab p {
    margin-block-end: 1.125rem;
  }
}
@media screen and (min-width: 900px) {
  main .features-section .tab p {
    margin-block-end: 2rem;
  }
}
@media screen and (min-width: 1200px) {
  main .features-section .tab-list,
  main .features-section .tab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-direction: row;
  }
  main .features-section .tab {
    gap: 10rem;
  }
  main .features-section .tab > div {
    text-align: left;
    margin-block-end: 2rem;
  }
  main .features-section .tab > div p {
    width: 40ch;
  }
}
main .card-section {
  padding-block-start: 4.8125rem;
}
@media screen and (min-width: 700px) {
  main .card-section {
    padding-block-start: calc(5rem + 5vh);
  }
}
main .card-section p {
  margin-block-end: 2.5rem;
}
@media screen and (min-width: 1200px) {
  main .card-section p {
    margin-block-start: 1rem;
  }
}
main .card-section span {
  font-size: 0.9375rem;
  line-height: 28px;
}
main .FAQ-section {
  padding-block-start: 8.75rem;
}
@media screen and (min-width: 1200px) {
  main .FAQ-section {
    padding-block-start: 9.375rem;
  }
}
main .FAQ-section h2 {
  line-height: 125%;
}
main .FAQ-section > p {
  margin-block: 1rem 5rem;
}
main .FAQ-section .accordion {
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}
@media screen and (min-width: 1200px) {
  main .FAQ-section .accordion {
    max-width: 33.75rem;
    margin-inline: auto;
  }
}
main .FAQ-section .accordion .accordion-btn {
  padding: 0;
  transition: color 0.3s linear;
  cursor: pointer;
}
main .FAQ-section .accordion .accordion-btn:hover {
  color: rgb(250, 89, 89);
}
main .FAQ-section .accordion span {
  width: 18px;
  height: 8px;
  display: grid;
  place-items: center;
}
main .FAQ-section .accordion .accordion-content > div {
  overflow: hidden;
  padding-block-start: 1.5rem;
}
main .FAQ-section .accordion-info-btn {
  margin-block-start: 3rem;
}

.arrow-active {
  transform: rotate(180deg);
}

.arrow-active path {
  stroke: rgb(250, 89, 89);
}

.contact-section {
  margin-block-start: 7.6875rem;
  padding-block: 3.75rem;
  position: relative;
}
@media screen and (min-width: 700px) {
  .contact-section {
    padding-inline: calc(6rem + 5vw);
  }
}
@media screen and (min-width: 900px) {
  .contact-section {
    padding-inline: calc(6rem + 15vw);
  }
}
@media screen and (min-width: 1200px) {
  .contact-section {
    padding-inline: 31.25rem;
    margin-block-start: 9.375rem;
    padding-block-end: 4.6875rem;
  }
}
.contact-section ::placeholder {
  font-size: 0.875rem;
  letter-spacing: 0.25px;
}
.contact-section .input-box {
  position: relative;
}
.contact-section .input-box input[data-type=input-email] {
  margin-block: 2rem 1rem;
  padding-block: 0.625rem;
  padding-inline-start: 1.25rem;
  width: 100%;
  line-height: 28px;
  border: 2px solid transparent;
  border-bottom-width: 0px;
  transition: all 0.3s linear;
  position: relative;
  color: rgb(36, 42, 69);
}
.contact-section .input-box .icon-err {
  position: absolute;
  right: 1rem;
  bottom: 2rem;
  opacity: 0;
  transition: all 0.1s linear;
  z-index: 5;
}
.contact-section .input-box .err {
  font-size: 0.625rem;
  font-style: italic;
  position: absolute;
  left: 5px;
  bottom: 0;
  z-index: 2;
  display: none;
  transition: all 0.3s linear;
}
.contact-section .input-box .err-active {
  display: block;
  bottom: 1.5rem;
}
.contact-section .input-box .active {
  border-color: rgb(250, 89, 89);
  border-bottom-width: 25px;
}
.contact-section .input-box .icon-active {
  opacity: 1;
}
@media screen and (min-width: 1200px) {
  .contact-section .input-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-direction: row;
    gap: 1rem;
    margin-block-start: 2.25rem;
  }
  .contact-section .input-box input[data-type=input-email] {
    margin-block: 0;
    max-width: 300px;
  }
  .contact-section .input-box .icon-err {
    right: 35%;
    bottom: 2.5rem;
  }
  .contact-section .input-box .err {
    bottom: 7px;
  }
}

footer {
  padding-block: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer .logo-footer {
  fill: rgb(255, 255, 255);
}
footer .nav {
  margin-block: 2.5rem 3.125rem;
}

@media screen and (min-width: 900px) {
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-direction: row;
    padding-block: 2.25rem;
    justify-content: start;
    padding-inline: 2rem;
  }
  footer .nav {
    margin-block: 0;
    margin-inline: 4rem auto;
  }
}
@media screen and (min-width: 1200px) {
  footer {
    padding-inline: 10.3125rem;
  }
  footer .icon-social,
  footer .icon-social path {
    transition: all 0.3s linear;
  }
  footer .icon-social:hover, footer .icon-social:hover path,
  footer .icon-social path:hover,
  footer .icon-social path:hover path {
    fill: rgb(250, 89, 89);
  }
}

/*# sourceMappingURL=main.css.map */
